@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: poppins, sans-serif;
    box-sizing:border-box;
    margin:0;
    color:white;
}

body {
    background-image: url('mick-haupt-tJefy_Vu7Po-unsplash.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat:no-repeat;
}

input {
    color:black;
}
header {
    font-size: 2rem;
    font-weight: 500;
    color:lightgray;
    text-align: center;
    background-color: rgb(133, 73, 73);
    padding:3rem;
    text-decoration: underline;
    border-radius:5px;
    position:relative;
}

#navbar-mockup-list {
    border:3px solid white;
    height:10vh;
    background:slategray;
}

#navbar-mockup-list {
    display:flex;
    flex-direction:row;
    align-items:center ;
    justify-content:right;
}

#navbar-mockup ul li{
    text-decoration:none;
    list-style:none;
    padding-right:1rem;
}

.code-div {
    height:30vh;
    width:50vw;
    position:absolute;
    border:3px white solid;
    color:white;
    padding:0.5rem 0.5rem;
}

#code-div1 {
    background-color:rgb(201, 68, 68);
    left:0;
    bottom:0;
}

#code-div2 {
    background-color:rgb(59, 59, 113);
    right:0;
    bottom:0;
}

.code-div h3 {
    text-align: center;
    color:white;
    padding:.5rem;
}

.fa-copy {
    font-size: 2rem;
    position:absolute;
    right:5%;
    bottom:5%;
    transition: all .3s ease;
}
.fa-copy:hover {
    color:yellow;
    font-size: 2.25rem;
}

.list-altering-icons i {
    color:white;
    font-size:3rem;
}

#plusButton:hover {
    background-color:green;
    border:none;
}

#minusButton:hover {
    background-color:red;
    border:none;
}
